<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="company-head" id="<%= fbid %>"><%= title %></h1>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="location-setter-container text-center" style="margin-top:1em; min-width: 310px;">
              <form id="location-setter" class="form-inline the-magic-fix-that-fixes-everything-and-you-have-no-idea-why-it-does-that">
                  <div class="form-group">
                    <div class="col-xs-9">
                      <input type="text" role="button" class="form-control" placeholder="Location" autocomplete="off"
                         <% if (location) { %> value="<%= location %>" <% } %>
                      >
                    </div>
                    <div class="col-xs-1">
                      <button type="submit" class="btn btn-default">Set</button>
                    </div>
                  </div>
                  <div style="clear:both;"></div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="location-setter-container text-center" style="margin-top:1em; min-width: 310px;">
              <form id="poopies" class="form-inline the-magic-fix-that-fixes-everything-and-you-have-no-idea-why-it-does-that">
                  <!-- <div class="form-group"> -->
                    <div class="input-group reactive-distr">
                      <span class="input-group-addon">Opening</span>
                      <select id="opentime" name="openTime" class="form-control time-setter">
                        <option <% if (opentime == '12am') { %> selected <% } %>value ="12am">	12:00	 AM	</option>
                        <option <% if (opentime == '1am') { %> selected <% } %>value ="1am">	01:00	 AM	</option>
                        <option <% if (opentime == '2am') { %> selected <% } %>value ="2am">	02:00	 AM	</option>
                        <option <% if (opentime == '3am') { %> selected <% } %>value ="3am">	03:00	 AM	</option>
                        <option <% if (opentime == '4am') { %> selected <% } %>value ="4am">	04:00	 AM	</option>
                        <option <% if (opentime == '5am') { %> selected <% } %>value ="5am">	05:00	 AM	</option>
                        <option <% if (opentime == '6am') { %> selected <% } %>value ="6am">	06:00	 AM	</option>
                        <option <% if (opentime == '7am') { %> selected <% } %>value ="7am">	07:00	 AM	</option>
                        <option <% if (opentime == '8am') { %> selected <% } %>value ="8am">	08:00	 AM	</option>
                        <option <% if (opentime == '9am') { %> selected <% } %>value ="9am">	09:00	 AM	</option>
                        <option <% if (opentime == '10am') { %> selected <% } %>value ="10am">	10:00	 AM	</option>
                        <option <% if (opentime == '11am') { %> selected <% } %>value ="11am">	11:00	 AM	</option>
                      </select>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">Closing</span>
                      <select id="closetime" name="closeTime" class="form-control time-setter">
                        <option <% if (closetime == '12pm') { %> selected <% } %> value="12pm">	12:00	 PM	</option>
                        <option <% if (closetime == '1pm') { %> selected <% } %> value="1pm">	01:00	 PM	</option>
                        <option <% if (closetime == '2pm') { %> selected <% } %> value="2pm">	02:00	 PM	</option>
                        <option <% if (closetime == '3pm') { %> selected <% } %> value="3pm">	03:00	 PM	</option>
                        <option <% if (closetime == '4pm') { %> selected <% } %> value="4pm">	04:00	 PM	</option>
                        <option <% if (closetime == '5pm') { %> selected <% } %> value="5pm">	05:00	 PM	</option>
                        <option <% if (closetime == '6pm') { %> selected <% } %> value="6pm">	06:00	 PM	</option>
                        <option <% if (closetime == '7pm') { %> selected <% } %> value="7pm">	07:00	 PM	</option>
                        <option <% if (closetime == '8pm') { %> selected <% } %> value="8pm">	08:00	 PM	</option>
                        <option <% if (closetime == '9pm') { %> selected <% } %> value="9pm">	09:00	 PM	</option>
                        <option <% if (closetime == '10pm') { %> selected <% } %> value="10pm">	10:00	 PM	</option>
                        <option <% if (closetime == '11pm') { %> selected <% } %> value="11pm">	11:00	 PM	</option>
                      </select>
                    </div>

                  <!-- </div> -->
                  <div style="clear:both;"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row reactive-centering">
        <a href="/" class="btn btn-default btn-space">
          <i class="fa fa-long-arrow-left" style="font-size:18px; margin-right:1px;" aria-hidden="true"></i>
        </a>
        <a href="/api/photos/<%= fbid %>" role="button" class="btn btn-default btn-space misc-async">
            Fetch photos from Facebook
        </a>
        <% if (bot_status == true) { %>
        <a href="/api/deactivate/<%= fbid %>" role="button" class="btn btn-default btn-space misc-async">Deactivate messenger bot</a>
        <% } else if (bot_status == false) { %>
        <a href="/api/activate/<%= fbid %>" role="button" class="btn btn-default btn-space misc-async">Activate messenger bot</a>
        <% } %>
        <a href="https://youtu.be/64S6wWF8DS0" target="_blank" role="button" class="btn btn-default btn-space">
          <i class="fa fa-info-circle" style="font-size:18px; margin-left:-4px; margin-right:-3px;" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <hr>
  <%- include ../menu/items %>
</div>
