<% layout('layout') -%>

<div class="page-header text-center">
    <h2 class="company-head" id="<%= fbid %>"><%= title %></h2>
    <div>
        <a href="/" class="btn btn-default btn-space">
          <i class="fa fa-long-arrow-left" style="font-size:18px;" aria-hidden="true"></i>
        </a>
        <a href="/api/photos/<%= fbid %>" role="button" class="btn btn-default btn-space misc-async">
            Fetch photos from Facebook
        </a>
        <% if (bot_status == true) { %>
        <a href="/api/deactivate/<%= fbid %>" role="button" class="btn btn-default btn-space misc-async">Deactivate messenger bot</a>
        <% } else if (bot_status == false) { %>
        <a href="/api/activate/<%= fbid %>" role="button" class="btn btn-default btn-space misc-async">Activate messenger bot</a>
        <% } %>
        <form id="location-setter" >
            <div class="form-group">
                <input type="text" class="form-control btn-space" placeholder="Location" autocomplete="off"
                       <% if (location) { %> value="<%= location %>" <% } %>
                >
            </div>
        </form>
    </div>
</div>
<div class="container">
  <%- include ../menu/items %>
</div>
