<% layout('layout') -%>

<div class="page-header text-center">

    <h3><i class="fa fa-user"></i>Company</h3>
</div>
<div class="center-block text-center">
    <img src="https://graph.facebook.com/<%= me.id %>/picture?type=large" width='90' height='90'>
    <h4><%= me.name %></h4>

    <h5>Username: <%= me.username %></h5>
    <h5>Link: <%= me.link %></h5>
    <h5>Email: <%= me.email %></h5>
    <h5>Locale: <%= me.locale %></h5>
    <h5>Timezone: <%= me.timezone %></h5>
</div>
