<% layout('layout') -%>

<div class="text-center">
    <h1>MENUBOT</h1>
    <p class="lead">A platform for automated customer interaction</p>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h2>Accounts</h2>
    </div>

    <% for(var i = 0; i < companies.length; i++) { %>
    <div class="col-xs-12 col-sm-6">
        <h2>
            <%= companies[i].name %>
        </h2>
        <a href="/company/<%= companies[i].fbid %>">
            <img src="https://graph.facebook.com/<%= companies[i].fbid %>/picture?width=150&height=150" class="thumbnail company-photo center-block" alt="User avatar">
        </a>
        <a href="http://facebook.com/<%= companies[i].fbid %>" class="btn btn-block btn-facebook btn-social smaller-fb center-block">
            <i class="fa fa-facebook"></i>
        </a>
        <!--<h2>Orders</h2>-->
        <div>
            <a href="#" role="button" class="btn btn-default btn-space">Orders »</a>
        </div>
    </div>
    <% } %>

    <% for(var a = 0; a < accounts.length; a++) { %>
    <div class="col-xs-12 col-sm-6 new-thing">
        <h2>
            <%= accounts[a].name %>
        </h2>
        <a href="/company/create/<%= accounts[a].fbid %>">
            <img src="https://graph.facebook.com/<%= accounts[a].fbid %>/picture?width=150&height=150" class="thumbnail company-photo center-block" alt="User avatar">
        </a>
        <a href="http://facebook.com/<%= accounts[a].fbid %>" class="btn btn-block btn-facebook btn-social smaller-fb center-block">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
    <% } %>
</div>