<% layout('layout') -%>

<div class="text-center">
    <h1>MENUBOT</h1>
    <p class="lead">A platform for automated customer interaction</p>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12 col-sm-12 centering">
        <h2>Accounts</h2>
    </div>

    <% for(var i = 0; i < companies.length; i++) { %>
    <div class="col-xs-12 col-sm-6 centering">
        <h2>
            <%= companies[i].name %>
        </h2>
        <a href="http://facebook.com/<%= companies[i].fbid %>">
          <div class="thumbnail company-photo center-block" title="User avatar"
               style="background-image: url(https://graph.facebook.com/<%= companies[i].fbid %>/picture?width=200&height=200);">
            <div class="btn btn-social-icon btn-facebook smaller-fb">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </a>

        <div>
            <a href="/orders/<%= companies[i].fbid %>" role="button" class="btn btn-default btn-space home-button">Received Orders</a>
        </div>
        <div>
            <a href="/company/<%= companies[i].fbid %>" role="button" class="btn btn-default btn-space home-button">Change Menu Items</a>
        </div>
    </div>
    <% } %>

    <% for(var a = 0; a < accounts.length; a++) { %>
    <div class="col-xs-12 col-sm-6 new-thing centering">
        <h2>
            <%= accounts[a].name %>
        </h2>

        <a href="http://facebook.com/<%= accounts[a].fbid %>">
          <div class="thumbnail company-photo center-block" title="User avatar"
               style="background-image: url(https://graph.facebook.com/<%= accounts[a].fbid %>/picture?width=200&height=200);">
            <div class="btn btn-social-icon btn-facebook smaller-fb">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </a>

        <div>
            <a href="/company/create/<%= accounts[a].fbid %>" role="button" class="btn btn-default btn-space home-button">Create Menu for Page</a>
        </div>
    </div>
    <% } %>
</div>
