<% if (items[i].use_options) { %>

  <div class="list-group options-container">

    <li class="list-group-item list-group-item-info">
      <span style="color: #333; margin-right: 8px;">
        <%= items[i].item %>'s options
      </span>
      <div style="float: right;">
        <input type="checkbox" name="itemOptionsCheckbox" id="opcheckbox-<%= items[i].itemid %>" <% if (items[i].use_options) { %>checked<% } %> >
      </div>
    </li>

    <% for (var op = 0; op < itemOptions.length; op++) { %>
      <% if (itemOptions[op].itemid == items[i].itemid) { %>
        <li class="list-group-item">
          <button class="delete-entry option-remove-button" type="button" name="option-<%= itemOptions[op].optionid %>">
            <i class="fa fa-trash-o option-remove-button-glyph" style="color:#ff0033" aria-hidden="true"></i>
          </button>
          <%= itemOptions[op].option %>  - $<%= itemOptions[op].option_price %>
        </li>
      <% } %>
    <% } %>

    <li class="list-group-item">
      <form class="form-inline text-center" name="addOption" id="newoption-<%= items[i].itemid %>">
        <div class="row" style="padding: 0px 7px 0px 7px ">
            <input type="text" class="form-control input-sm reactive-distr" name="new-option-name" placeholder="Option name" required>
            <div class="input-group input-group-sm reactive-distr">
              <div class="input-group-addon">$</div>
              <input name="new-option-price" type="number" class="form-control" placeholder="Price" required>
            </div>
            <button type="submit" class="btn btn-default btn-sm">Add</button>
        </div>
      </form>
    </li>

  </div>
<% } else { %>

  <div class="list-group options-container">
    <li class="list-group-item">
      <span style="color: #333; margin-right: 8px;">
        <%= items[i].item %>'s options
      </span>

      <div style="float: right;">
        <input type="checkbox" name="itemOptionsCheckbox" id="opcheckbox-<%= items[i].itemid %>" <% if (items[i].use_options) { %>checked<% } %> >
      </div>
    </li>
  </div>

<% } %>
