<div class="row">
    <div class="center-block text-center">
        <% for(var i = 0; i < items.length; i++) { %>
        <div class="col-xs-12 col-sm-6">
            <h3><%= items[i].item %></h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="<%= items[i].itemid %>" placeholder="change name">
                    <button type="submit" class="btn btn-default btn-space" id="button-<%= items[i].itemid %>">Submit</button>
                </div>
                <img src="/images/<%= fbid %>/<%= items[i].itemid %>.jpg" class="thumbnail center-block menu-photo" />
                <label for="exampleInputFile">Change photo</label>
                <input type="file" id="exampleInputFile">
            <%- include types %>
            </form>
        </div>
        <% } %>
        <div class="col-xs-12 col-sm-6">
            <%- include new-item %>
        </div>
    </div>
</div>