<!-- David's Experemental changes -->
<% if(items) { %>
    <% for(var i = 0; i < items.length; i++) { %>
      <div class="row item-outer-container">
        <div class="col-xs-12 ">
          <div class="row item-heading-inner-container">
            <button type="button" name="item-<%= items[i].itemid %>" class="item-remove-button"><i class="fa fa-trash-o item-remove-button-glyph" aria-hidden="true"></i></button>
            <p class="item-title"><%= items[i].item %></p>
          </div>
          <div class="row item-content-inner-container">
            <img src="/images/<%= fbid %>/<%= items[i].itemid %>.jpg" class="thumbnail menu-photo" />
          </div>
          <div class="row">
            <%- include types %>
          </div>
        </div>
      </div>
    <% } %>
<% } %>
<div class="row item-outer-container">
  <div class="col-xs-12">
    <%- include new-item %>
  </div>
</div>
