<% if(items) { %>
    <% for(var i = 0; i < items.length; i++) { %>
      <div class="row item-outer-container">
        <div class="col-xs-12 ">
          <div class="row item-heading-inner-container">
            <div class="col-xs-12 col-sm-6">
              <button class="delete-entry item-remove-button" type="button" name="item-<%= items[i].itemid %>">
                <i class="fa fa-trash-o item-remove-button-glyph" aria-hidden="true"></i>
              </button>
              <p class="item-title"><%= items[i].item %></p>
            </div>

            <%
            var hasTypeChild = false;
             for (var x = 0; x < types.length; x++) {
               if (types[x].itemid == items[i].itemid) {
                 hasTypeChild = true;
                 break;
               }
             }

             if (hasTypeChild) { %>

            <% } else { %>
              <div class="col-xs-8 col-sm-6">
                <form id="<%= items[i].itemid %>" name="item"
                  style="float:right;" class="price form-inline"
                >
                  <div class="form-group-lg" >
                    <div class="input-group">
                      <div class="input-group-addon" style="padding: 0px">
                        <p class="item-price-adder">
                          $
                        </p>
                      </div>
                      <input type="text" <% if (items[i].item_price == null) { %> value="" <% }
                         else { %> value="<%= items[i].item_price %>" <% } %>
                         size="10" class="form-control" placeholder="Price">
                       <span class="input-group-btn">
                          <button class="btn btn-default btn-lg item-price-button" type="submit">
                              Set
                          </button>
                       </span>
                    </div>
                  </div>
                </form>
              </div>
            <% } %>

            <div style="clear:both;"></div>
          </div>
          <div class="row item-content-inner-container" style="margin-top: 20px">
            <img src="<%= items[i].item_photo ? items[i].item_photo : "" %>" class="thumbnail menu-photo" />
          </div>
          <div class="row">
            <%- include types %>
          </div>
        </div>
      </div>
    <% } %>
<% } %>

<div class="row item-outer-container">
  <div class="col-xs-12">
    <%- include new-item %>
  </div>
</div>
