<div class="size-offseter">
  <% if (sizes) { %>
    <% for (var y = 0; y < sizes.length; y++) { %>
      <% if (sizes[y].typeid == types[x].typeid) { %>
        <div class="container">
          <div class="col-xs-10">
            <div class="row size-outer-container">
              <div class="row size-heading-inner-container">

                <div class="col-xs-6">
                  <button type="button" name="size-<%= sizes[y].sizeid %>" class="delete-entry size-remove-button">
                    <i class="fa fa-trash-o size-remove-button-glyph" aria-hidden="true"></i>
                  </button>
                  <p class="size-title"><%= sizes[y].size %></p>
                </div>

                <div class="col-xs-6">
                  <form id="<%= sizes[y].sizeid %>" name="size" style="float:right;"
                        class="price form-inline">
                    <div class="form-group" >
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" <% if (sizes[y].size_price === null) { %> value="" <% }
                           else { %> value="<%= sizes[y].size_price %>" <% } %>
                           size="10" class="form-control" placeholder="Price"
                        >
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  <% } %>
  <div class="container">
    <div class="col-xs-10">
      <div class="row size-outer-container">
        <%- include new-size %>
      </div>
    </div>
  </div>
</div>
