<div class="row">
    <% for (var y = 0; y < sizes.length; y++) { %>
        <% if (sizes[y].typeid == types[x].typeid) { %>
        <div class="col-xs-12 col-sm-6">
                <h5><%= sizes[y].size %>: $<%= sizes[y].price %></h5>
                <div class="form-group">
                    <input type="text" class="form-control" id="<%= items[i].itemid %>/<%= types[x].typeid %>/<%= sizes[y].sizeid %>" placeholder="change size">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" aria-label="price" placeholder="price">
                    </div>
                </div>
        </div>
        <% } %>
    <% } %>
    <div class="col-xs-12 col-sm-6 new-thing">
        <%- include new-size %>
    </div>
</div>
