<div class="type-offseter">
  <% if(types) { %>

    <% for (var x = 0; x < types.length; x++) { %>
      <% if (types[x].itemid == items[i].itemid) { %>

        <div class="container">
          <div class="col-xs-11">
            <div class="row type-outer-container">

              <div class="row type-heading-inner-container">
                <div class="col-xs-12 col-sm-6">
                  <button type="button" name="type-<%= types[x].typeid %>" class="type-remove-button delete-entry">
                    <i class="fa fa-trash-o type-remove-button-glyph" aria-hidden="true"></i></button>
                  <p class="type-title"><%= types[x].type %></p>
                </div>

                <%
                var hasSizeChild = false;
                 for (var y = 0; y < sizes.length; y++) {
                   if (sizes[y].typeid == types[x].typeid) {
                     hasSizeChild = true;
                     break;
                   }
                 }

                 if (hasSizeChild) { %>

                <% } else { %>
                  <div class="col-xs-9 col-sm-6">
                    <form id="<%= types[x].typeid %>" name="type"
                          style="float:right;" class="price form-inline">
                      <div class="form-group-lg" >
                        <div class="input-group">
                          <div class="input-group-addon" style="padding: 0px">
                            <p class="item-price-adder">
                              $
                            </p>
                          </div>
                          <input type="text"
                              <% if (types[x].type_price === null) { %> value="" <% }
                              else { %> value="<%= types[x].type_price %>" <% } %>
                              size="10" class="form-control" placeholder="Price"
                          >
                          <span class="input-group-btn">
                             <button class="btn btn-default btn-lg item-price-button" type="submit">
                                 Set
                             </button>
                          </span>
                        </div>
                      </div>
                    </form>

                  </div>
                <% } %>

              </div>

              <div class="row type-content-inner-container" style="margin-top: 20px">
                <img src="<%= types[x].type_photo ? types[x].type_photo : "" %>" class="thumbnail menu-photo" />
              </div>

              <div class="row">
                <%- include sizes %>
              </div>

            </div>
          </div>
        </div>

      <% } %>
    <% } %>
  <% } %>

  <div class="container">
    <div class="col-xs-11">
      <div class="type-outer-container row">
        <%- include new-type %>
      </div>
    </div>
  </div>
</div>
