<div class="type-offseter">
  <% if(types) { %>

    <% for (var x = 0; x < types.length; x++) { %>
      <% if (types[x].itemid == items[i].itemid) { %>

        <div class="container">
          <div class="col-xs-11">
            <div class="row type-outer-container">

              <div class="row type-heading-inner-container">
                <button type="button" name="type-<%= types[x].typeid %>" class="type-remove-button"><i class="fa fa-trash-o type-remove-button-glyph" aria-hidden="true"></i></button>
                <p class="type-title"><%= types[x].type %></p>
              </div>

              <div class="row type-content-inner-container">
                <img src="<%= types[x].photo ? types[x].photo : "" %>" class="thumbnail center-block menu-photo" />
              </div>

              <div class="row">
                <%- include sizes %>
              </div>

            </div>
          </div>
        </div>

      <% } %>
    <% } %>

  <% } %>

  <div class="container">
    <div class="col-xs-11">
      <div class="type-outer-container row">
        <%- include new-type %>
      </div>
    </div>
  </div>
</div>
