<div class="row">
    <% for (var x = 0; x < types.length; x++) { %>
        <% if (types[x].itemid == items[i].itemid) { %>
        <div class="col-xs-6 col-sm-6">
            <h4><%= types[x].type %></h4>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="<%= items[i].itemid %>/<%= types[x].typeid %>" placeholder="change name">
                </div>
            </form>
            <a href="/company/<%= fbid %>/<%= items[i].itemid %>/<%= types[x].typeid %>">
                <img src="/images/<%= fbid %>/<%= items[i].itemid %>/<%= types[x].typeid %>.jpg" class="thumbnail center-block menu-photo" />
            </a>
            <form class="form-group">
                <label for="exampleInputFile">Change photo</label>
                <input type="file" id="exampleInputFile">
            </form>
            <%- include sizes %>
        </div>
        <% } %>
    <% } %>
</div>
