<div class="row">
    <% for (var x = 0; x < types.length; x++) { %>
        <% if (types[x].itemid == items[i].itemid) { %>
        <div class="col-xs-6 col-sm-4">
            <h4><%= types[x].type %></h4>
            <a href="/company/<%= fbid %>/<%= items[i].itemid %>/<%= types[x].typeid %>">
                <img src="/images/<%= fbid %>/<%= items[i].itemid %>/<%= types[x].typeid %>.jpg" class="thumbnail center-block menu-photo" />
            </a>
            <%- include sizes %>
        </div>
        <% } %>
    <% } %>
</div>
