<div class="type-offseter">
  <% if(types) { %>

    <% for (var x = 0; x < types.length; x++) { %>
      <% if (types[x].itemid == items[i].itemid) { %>

        <div class="container">
          <div class="col-xs-11">
            <div class="row type-outer-container">

              <div class="row type-heading-inner-container">
                <div class="col-xs-6">
                  <button type="button" name="type-<%= types[x].typeid %>" class="type-remove-button">
                    <i class="fa fa-trash-o type-remove-button-glyph" aria-hidden="true"></i></button>
                  <p class="type-title"><%= types[x].type %></p>
                </div>

                <%
                var hasSizeChild = false;
                 for (var y = 0; y < sizes.length; y++) {
                   if (sizes[y].typeid == types[x].typeid) {
                     hasSizeChild = true;
                     break;
                   }
                 }

                 if (hasSizeChild) { %>

                <% } else { %>
                  <div class="col-xs-6">
                    <form id="new-tprice-<%= types[x].typeid %>" name="<%= types[x].typeid %>"
                          style="float:right;" class="form-inline">
                      <div class="form-group-lg" >
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <!-- This tag needs to remain one line, no indentation allowed -->
                          <input name="price" type="text"
                              <% if (types[x].type_price === null) { %> value="" <% }
                              else { %> value="<%= types[x].type_price %>" <% } %>
                              size="10" class="form-control" placeholder="Price"
                          >
                        </div>
                      </div>
                    </form>
                  </div>
                <% } %>

              </div>

              <div class="row type-content-inner-container">
                <img src="<%= types[x].photo ? types[x].photo : "" %>" class="thumbnail menu-photo" />
              </div>

              <div class="row">
                <%- include sizes %>
              </div>

            </div>
          </div>
        </div>

      <% } %>
    <% } %>

  <% } %>

  <div class="container">
    <div class="col-xs-11">
      <div class="type-outer-container row">
        <%- include new-type %>
      </div>
    </div>
  </div>
</div>
